footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #245998;
    color:white;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
footer span{
    display: inline-block;
    margin-right: 20px;
    height: 22px;
    vertical-align: middle;
}
footer img{
    width:14px;
    margin: 0 5px 2px;
    vertical-align: middle;
}
footer a{
    color:#fb852e;
}